@import 'variables.scss';

@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p, a, button {
  font-family: $montserrat-light;
  color: #111111;
}

button {
  appearance: none;
}

.regular, span, h3, h4, input, textarea {
  font-family: $montserrat-regular;
}

h1, h2, h3, h4 ,h5 {
  margin: 0;
  font-weight: inherit;
}

.bold {
  font-family: $montserrat-bold;
}

.light {
  font-family: $montserrat-light;
}

h1, h2 {
  font-family: $montserrat-bold;
}

.roboto {
  font-family: $roboto-medium;
}

.roboto-light {
  font-family: $roboto-light;
}

.bottom-border {
  border-bottom: solid 1px #DDDDDD;
}
