//Colors

//Fonts
$montserrat-regular: 'Montserrat Regular';
$montserrat-bold: 'Montserrat Bold';
$montserrat-light: 'Montserrat Light';
$roboto-medium: "Roboto Medium";
$roboto-light: "Roboto Light";

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Montserrat-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Montserrat-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Roboto-Light.ttf');
    font-display: swap;
}

